@import "open-props/normalize.dark.min.css";
@import "open-props/buttons.dark.min.css";

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: var(--size-fluid-4);
	opacity: 0.01;
	animation: var(--animation-fade-in) forwards;
	animation-duration: 3s;
}

header > p {
	font-size: var(--size-fluid-2);
}

header > p > span {
	display: inline-block;
}

#div-3d {
	flex-basis: 100%;
	width: 100%;
}

nav {
	display: flex;
	gap: var(--size-fluid-2);
	padding-top: var(--size-fluid-3);
	padding-bottom: var(--size-fluid-3);
	flex-wrap: wrap;
	justify-content: center;
}

nav > a {
	color: inherit;
	text-decoration: none;
}

nav > a > p {
	color: inherit;
	text-decoration: none;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: solid;
	border-width: var(--border-size-2);
	border-radius: var(--radius-round);
	width: var(--size-fluid-5);
	height: var(--size-fluid-5);
	color: inherit;
	box-shadow: var(--shadow-3);
	transition: box-shadow 0.3s;
	margin-bottom: var(--size-fluid-1);
}

a:hover > .icon {
	box-shadow: var(--shadow-5);
}

#contact {
	display: flex;
	justify-content: center;
}

.card {
	/* background-color: var(--surface-2); */
	margin: auto;
	/* padding: var(--size-fluid-2) var(--size-fluid-4); */
	font-size: var(--font-size-fluid-1);
	/* box-shadow: var(--shadow-2); */
	/* width: var(--size-content-3); */
}

.card > p {
	margin: var(--size-fluid-1) 0;
}

kbd {
	/* line-height: var(--font-lineheight-5); */
	/* margin-top: var(--size-fluid-5); */
	padding: var(--size-fluid-2);
}

footer > p {
	margin: auto;
	text-align: center;
}

footer > hr {
	margin: var(--size-fluid-3) 0;
}

footer {
	padding-bottom: var(--size-fluid-3);
}

#toast-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--size-fluid-1);
	align-items: center;
	padding-bottom: var(--size-fluid-1);
	pointer-events: none;
}

.toast {
	background-color: var(--surface-3);
	padding: var(--size-fluid-1);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-3);
	animation: var(--animation-slide-in-up) forwards,
		var(--animation-fade-out) 2s forwards;
}
